-# Copyright 2012 Twitter, Inc. and others.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#     http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.

%h1 Jobs

= link_to "Advanced &raquo;".html_safe, "#{ClockworkRaven::Application.mounted_path}/resque", :target => '_blank'

%table.table
  %thead
    %tr
      %th Name
      %th Created At
      %th Status
      %th Progress
      %th
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.title
        %td= job.created_at.in_time_zone("Pacific Time (US & Canada)").strftime(ClockworkRaven::Application::TIME_FORMAT)
        %td= job.status_name
        %td  #{job.completed} / #{job.total}
        %td= link_to 'Show', job, :class => 'btn'

= will_paginate @jobs
