-# Copyright 2012 Twitter, Inc. and others.
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-#     http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.

%h1 Workers

%table.table.table-striped.data-table#m_turk_users_table
  %thead
    %tr
      %th ID
      %th Name
      %th # of Evaluations Worked On
      %th # of Responses
      %th Average Responses per Evaluation
      %th Mean Time (s)
      %th Median Time (s)
      %th Mean Pay Rate ($/hr)
      %th Median Pay Rate ($/hr)
      %th.empty
  %tbody
    - @m_turk_users.each do |user|
      %tr
        %td= user.id
        %td= user.name || "Unnamed"
        %td= user.evaluation_count
        %td= user.task_responses.count
        %td= user.task_responses.count.to_f / user.evaluation_count
        %td= user.stats.mean_time.round(2)
        %td= user.stats.median_time.round(2)
        %td= format_cents(user.stats.overall_pay_rate)
        %td= format_cents(user.stats.median_pay_rate)
        %td
          = link_to m_turk_user_path(user), :class => 'btn' do
            More

:javascript
  $(document).ready( function () {
    $('#m_turk_users_table').dataTable( {
      "aoColumnDefs" : [
        { "bSortable" : false, "aTargets" : ["empty"] }
      ],
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "bSortClasses" : false
    } )
  } );